@page "/ServiceMen"
@using Automat.Client.Services.Interfaces
@using Automat.Client.BlazorDTOs
@inject HttpClient Http
@inject IBlazorServiceMenService BlazorServiceMenService
@inject NavigationManager NavigationManager

<h3>Service Men</h3>

<p>This component demonstrates fetching data from the server.</p>

@if (serviceMen == null)
{
    <p><em>Loading...</em></p>
}
else
{
<button class="btn btn-danger" @onclick="@CreateServiceMan">Add Service Man</button>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var serviceMan in serviceMen)
            {
            <tr>
                <td>@serviceMan.Id</td>
                <td>
                    <button class="btn btn-link" @onclick="@(() => ShowServiceMan(serviceMan.Id))">
                        @serviceMan.Name
                    </button>
                    
                </td>
                <td>@serviceMan.Surname</td>

            </tr>
            }
        </tbody>
    </table>
}




@code {



    private IEnumerable<BlazorServiceManDTO> serviceMen = new List<BlazorServiceManDTO>();

    protected override async Task OnInitializedAsync()
    {
        serviceMen = await BlazorServiceMenService.GetServiceMen();
    }



    void ShowServiceMan(int id)
    {
        NavigationManager.NavigateTo($"/ServiceMan/{id}");
    }

    void CreateServiceMan()
    {
        NavigationManager.NavigateTo("/createServiceMan");
    }


}
