@inherits LayoutComponentBase

<div class="page">
    <div style="background-image: none; background-color: none;" class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="col-12">
           


                        <MudCarousel Style="height:200px;" ShowArrows="@arrows" ShowDelimiters="@delimiters" AutoCycle="@autocycle" TData="object">
                            <MudCarouselItem Transition="transition" Color="@Color.Primary">
                                <div class="d-flex" style="height:100%">
                                    <MudCardMedia Image="D:/Users/Олег/source/repos/AutomatAP/\AutomatAPI/Automat.Client/wwwroot/Images/IMG_20190706_123815.png" Height="200" />
                                </div>
                            </MudCarouselItem>
                            <MudCarouselItem Transition="transition" Color="@Color.Secondary">
                                <div class="d-flex" style="height:100%">
                                    <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.Facebook" Size="@Size.Large" />
                                </div>
                            </MudCarouselItem>
                            <MudCarouselItem Transition="transition">
                                <div class="d-flex" style="height:100%">
                                    <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.GitHub" Color="@Color.Primary" Size="@Size.Large" />
                                </div>
                            </MudCarouselItem>
                        </MudCarousel>
        </div>
            

            <div class="content px-4">
                @Body
            </div>
        </div>




</div>




@code{
    private bool arrows = true;
    private bool delimiters = true;
    private bool autocycle = true;
    public Transition transition = Transition.Slide;




}


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
