@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject HttpClient _httpClient





<div class="page">

    <div style="background-image: none; background-color: none;" class="sidebar">      
        <AuthorizeView>
            <Authorized>
                <NavMenu />
            </Authorized>
        </AuthorizeView>
    </div>

    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="7"
                    IconType="IconType.FontAwesome"
                    SuccessClass="success-toast-override"
                    SuccessIcon="fa fa-thumbs-up"
                    ErrorIcon="fa fa-bug" />

    <div class="main">

        <div class="col-12">



            <MudCarousel Style="height:200px;" ShowArrows="@arrows" ShowDelimiters="@delimiters" AutoCycle="@autocycle" TData="object">
                <MudCarouselItem Transition="transition" Color="@Color.Primary">                   
                        <MudCardMedia Image="https://hs-8468487.f.hubspotfree.net/hub/8468487/hubfs/Email-Image.png?upscale=true&width=1200&upscale=true&name=Email-Image.png" Height="200" />                        
                </MudCarouselItem>
                <MudCarouselItem Transition="transition" Color="@Color.Secondary">                   
                        <MudCardMedia Image="https://media-exp1.licdn.com/dms/image/C511BAQF9k6iwH-Oc2A/company-background_10000/0/1571824095853?e=2159024400&v=beta&t=pBqqiJUOQ17qlHftohOtPgKlB_xQGlSmZDmGEk71A_Q" Height="200" />
                 
                </MudCarouselItem>
                <MudCarouselItem Transition="transition">
                        <MudCardMedia Image="https://cdn.shopify.com/s/files/1/0521/3329/8360/collections/5_1512x.jpg?v=1625543873" Height="200" />
                </MudCarouselItem>
            </MudCarousel>
        </div>






        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <h4><b>Hello, @context.User.Identity.Name</b></h4> &nbsp;
                    <button class="btn btn-danger" @onclick="LogoutUser">Logout</button>
                </div>
            </Authorized>
        </AuthorizeView>



        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{ private async Task LogoutUser()
    {
        await _httpClient.GetAsync("user/logoutuser");
        _navigationManager.NavigateTo("/", true);
    }

    private void LoginUser()
    {
        _navigationManager.NavigateTo("/", true);
    }

    private bool arrows = true;
    private bool delimiters = true;
    private bool autocycle = true;
    public Transition transition = Transition.Slide; }



<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


