@page "/creatediscountcard"
@using Automat.Client.Services.Interfaces
@using Automat.Client.BlazorDTOs
@inject HttpClient Http
@inject IBlazorDiscountCardsService BlazorDiscountCardsService
@inject NavigationManager NavigationManager

<h3>CreateDiscountCard</h3>

<EditForm Model="@DiscountCard" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    
    <div class="form-group">
        <label for="Name" class="form-label">PurchaseSum</label>
        <InputNumber @bind-Value="@DiscountCard.PurchaseSum" class="form-control" />
        <ValidationMessage For="@(()=>DiscountCard.PurchaseSum)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="Address" class="form-label">Discount</label>
        <InputNumber @bind-Value="@DiscountCard.Discount" class="form-control" />
        <ValidationMessage For="@(()=>DiscountCard.Discount)"></ValidationMessage>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>



@code {

    BlazorDiscountCardDTO DiscountCard = new BlazorDiscountCardDTO();

    async Task HandleValidSubmit()
    {
        var result = await BlazorDiscountCardsService.CreateDiscountCard(DiscountCard);
        if (result)
        {
            NavigationManager.NavigateTo("/DiscountCards");
        }
    }


}
